.team-divider {
    background-color: red;
    border: 1px;
    border-radius: 5px;
    margin: 1px;
}

.joined-tag {
    background-color: red;
    font-size: 12px;
    border: 0px;
    border-radius: 5px;
    max-width: 7em;
    padding: 2px;
}
