html {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    background-color: #ffffff;
    /* background-color: #1c1c1c; */
}

.submit-button {
    background: rgb(56, 109, 255);
    cursor: pointer;
    /* border */
    border: 1px solid #CCC;
    border-radius: 5px;
    width: 25%;
}

.input-style {
    display: block;
    box-sizing: border-box;
    height: 50px;
    width: 80%;
    border: 1px solid black;
    /* border: 1px solid #000000; */
    border-radius: 5px;
    margin: 20px;
    padding: 1em;
    /* font */
    color: black;
    font-weight: 400;
    font-size: 15px;
    font-weight: 10;
}
