.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}
.nav-bar {
  /* background: #d1d4d7; */
  /* width: 100%; */
  height: auto;
}

.nav-bar-button {
  border-radius: 4px;
  width: 120px;
  height: 40px;
  background-color: #38b6ff;
  border: 3px;
  padding: 0;
  margin: 1px;
  cursor: pointer;
  font-size: 18px;
}


.user-action-dropdown {
  border: 0;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 20px;
  padding-left: 20px;
  width: 150px;
  background-color: white;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: -1px -1px 5px 1px #c6c0c0;
}

.dropdown-text {
  font-size: 16px;
  font-weight: 10;
}
