.player-divider {
    max-width: 200px;
    justify-content: left;
}

.player-image {
    max-width: 120px;
}

.league-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;

    border-radius: 4px;
    min-width: 400px;
    max-width: 1000px;
    /* height: 300px; */
    border: 3px;
    padding: 0;
    margin: 1px;

    font-size: 16px;
    margin: 0 auto;
    display: grid;
    color: white;
    justify-content: center;
}

.action-divider {
    justify-content: center;
    display: flex;
    background-color: gray;
}

.team-divider {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* align-self: center; */
    grid-template-columns: 20px auto auto;
    border-radius: 4px;
    min-width: 400px;
    height: 20px;
    /* max-width: 1000px; */
    background-color: gray;
    /* grid-template-columns: 100px 100px 100px;
    grid-template-rows: auto; */
}

.team-divider-column-one {
    display: grid;
    align-items: center;
    justify-content: center;
}

.team-button {
    border-radius: 4px;
    background-color: gray;
}

.draft-divider {
    display: grid;
    align-items: center;
    justify-content: center;
}


a:link {
    color: rgb(27, 6, 78);
    text-decoration: none;
  }

  /* visited link */
  a:visited {
    color: rgb(27, 6, 78);
    text-decoration: none;
  }

  /* mouse over link */
  a:hover {
    color: rgb(27, 6, 78);
    text-decoration: none;
  }

  /* selected link */
  a:active {
    color: rgb(27, 6, 78);
    text-decoration: none;
  }
