.league-divider-title {
    background-color: #38b6ff;
    border-radius: 4px;
    min-width: 400px;
    max-width: 1000px;
    /* height: 300px; */
    background-color: #38b6ff;
    border: 3px;
    padding: 0;
    margin: 1px;

    font-size: 28px;
    margin: 0 auto;
    display: grid;
    color: white;
    justify-content: center;
}


.league-divider {
    /* background-color: #38b6ff; */
    border-radius: 4px;
    min-width: 400px;
    max-width: 1000px;
    /* height: 300px; */
    background-color: white;
    border: 3px;
    padding: 0;
    margin: 1px;
    font-size: 16px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20px auto auto;
}

.league-divider:hover {
    background-color: silver;
}

.league-divider-column-one {
    width: 20px;
}

.league-divider-column-two {
    max-width: 800px;
    justify-self: start;
}


.league-divider-column-three {
    /* width: 800px; */
    justify-self: end;
}
